<div class="container">
  <form class="box" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <h1 className="title">Log in</h1>
    <div class="field">
      <label class="label">Email </label>
      <div class="control">
        <input
          class="control has-icons-left has-icons-right"
          type="email"
          name="email"
          placeholder="e.g. bobsmith@gmail.com"
          formControlName="email"
        />
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input
          type="password"
          class="control has-icons-left has-icons-right"
          name="password"
          placeholder="*******"
          formControlName="password"
        />
      </div>
    </div>

    <div>
      <button type="submit" class="button is-primary">Login in</button>
    </div>
  </form>
</div>
